.header__cover{
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/013/089/477/large/nick-silva-rewrite-final-beta-artstation.jpg?1537994900);
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
    width: 100%;
    height: 15rem;
    background-position-y: 10%;
}