.card{
    display: grid;
    width: 20%;
    height: 200px;
    grid-template-areas: "imagem info";
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 100%;
    border: 1px solid;
    margin: 1rem 2rem 0;
}

.card__image{
    grid-area: imagem;
    width: 100%;
    height: 100%;
    background-color: rgba(90, 90, 90, 0.521);
}
.card__info{
    grid-area: info;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "desc" "title";
    grid-template-rows: 6fr 4fr;
}
.card__link{
    display: inline;
    text-decoration: none;
    color: inherit;
}

.card__title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    color: rgba(90, 90, 90, 0.801);
    text-emphasis: 500;
    margin: 0.5rem 0.2rem;
}

.card__desc{
    margin: 0.5rem 0.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-emphasis: 700;  
}



